*{
    padding: 0px;
    margin: 0px;
}

#levo_slika, #desno_slika{
    width: 100%;
    height: 100%;
}

#velika_slika{
    float:left;
    width: 400px;
    height: 100%;
    position: relative;
margin-bottom: 20px;

}

#male_slike{
    margin-left: 180px;
    clear: both;
    width: 400px;
    /*border: 2px solid #00FF00;*/
}

#male_slike img{
    margin: 4px;
}

#levo{
    background-color: red;
    float:left;
    margin-right: 30px;
    margin-top: 200px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
}

#desno{
    margin-left: 30px;
    margin-top: 200px;
    float:left;
    width: 100px;
    height: 100px;
}

h3,h5{
    color: #FFF;
    background-color: #000;
}