*{
    text-align: center;
    margin: 0 auto;
}

table{
    border: 2px solid black;
    background-color: #e5d7d7;
}

td{
    border: 2px solid black;
    background-color: #e5d7d7;
}

button{
    padding: 15px;
    width: 100%;
    background-color: #db0f0f;
    color: #FFF;
    font-weight: bolder;
}

th{
    border: 2px solid black;
    background-color:#e5d7d7;
}

textarea{
    width: 97%;
    height: 92%;
    background-color: #FFF;
    color: #8e95a0;
}

.zacrni{
    color: #000;
    font-weight: bolder;
}