*{
    text-align: center;
    margin: 0 auto;
}

table{
    border: 2px solid black;
    background-color: cornflowerblue;
}

td{
    border: 2px solid black;
    background-color: darkblue;
}

button{
    padding: 15px;
    width: 100%;
    background-color: azure;
}

th{
    border: 2px solid black;
    background-color:darkblue;
}

textarea{
    width: 97%;
    height: 92%;
    background-color: aliceblue;
}