
.manki{
    color:#4099FF;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.hashtag{
    color:#0d1587;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

a{
    text-decoration: none;
}