body{
    padding: 0px;
    margin: 0 auto;
    text-align: center;
}

h1, h2{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

table{
    margin: 0 auto;
    align-content: center;
    border: 1px solid #102c59;
    border-collapse: collapse;
}
td{
    border: 1px solid #f9f9f9;
    width: 25px;
    height: 25px;
}

th{
    padding: 0px;
    margin: 0px;
}

#levo{
    background-color: #95b0db;
}
#desno{
    background-color: #95b0db;
}

button{
    background-color: #95b0db;
    width: 100%;
}

#sredina{
    background-color: #102c59;
    color: #FFF;
}

.brisi{
    background-color: #f4f7f4;
}