*{
    padding: 0px;
    margin: 0 auto;
    text-align: center;
}

#formular{
    float: left;
    width: 50%;
    height: 100px;
}

#imenik{
    float: left;
    width: 50%;
    height: 100px;
}

table{
 border:3px solid black;   
 border-collapse: collapse;
}

th{
    background-color: #4b8bf2;
    padding: 3px;
    border-bottom: 3px solid #000000;
    border-right: 1px solid #000000;
    color: #ffffff;
    width: 100;
}

td{
    border:1px solid #000000;
    padding: 5px 15px;
}

tr:nth-child(2n){
    background-color: #e3e9f2;
}
tr:nth-child(2n+1){
    background-color: #8f939b;
}


button {
    padding: 5px;
    font-weight: bold;
}

#polja{
    border:3px solid black;   
    border-collapse: collapse;
}

#polja tr{
    background-color: #80afb5;
    padding: 20px;
}

#polja td{
    text-align: right;
    border:none;
    padding: 20px;
}
