body{
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}

table{
    margin: 0 auto;
    align-content: center;
    clear: both;
}

td{
    width: 100px;
    height: 100px;
}

button{
    width: 100%;
    height: 100%;
    background-image: url("../slike/upitnik.jpg");
    background-size: 98%;
}

img{
    display: none;
}

#pocetak{
    width: 400px;
    height: 50px;
    background-image: url();
    background-color: #04667c;
    background: linear-gradient(to right, #6bd7ef, #113b44, #6bd7ef);
    color: #FFF;
}

#highScore{
    float: right;
    border: 1px solid #000;
    border-collapse: collapse;
}

#highScore th{
    background-color: #4c6ea5;
    color: #FFF;
    border: 1px solid #FFF;
}

#highScore tr:nth-child(2n){
    background-color: #8aeef7;
}

#highScore tr:nth-child(2n+1){
    background-color: #c8f7f7;
}

#highScore tr td{
    border: 1px solid #000;
    width: 100px;
    height: 20px;
    border-collapse: collapse;
}

#promeniIme{
    width: 100px;
    background-image: url();
}